.App {
  text-align: center;
  background-color: cornflowerblue;
  min-height: 100vh;
  color: lime;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Score {
}

.Points {
  justify-self: end;
  margin-right: 20px;
  color: yellow;
}

.Upgrades {
  background-color: darkgreen;
  color: white;
  margin: 20px;
  padding: 10px;
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 25%;
}
