.App {
  text-align: center;
  background-color: cornflowerblue;
  min-height: 100vh;
  color: lime;
  display: flex;
  flex-direction: column;
}

.Score {
}

.Points {
  justify-self: end;
  margin-right: 20px;
  color: yellow;
}

.Upgrades {
  margin: 10;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background-color: brown;
  height: 100px;
  width: 170px;
}
